.yellow-color {
  color: #ffba00;
}

.yellow-color-bg {
  background-color: #ffba00;
}

.green-color {
  color: #0c3b2e;
}

.green-color-bg {
  background-color: #0c3b2e;
}

.avocado-color {
  color: #6d9773;
}
.avocado-color-bg {
  background-color: #6d9773;
}

.brown-color {
  background-color: #bb8a52;
}
